<div class="forecast-current">
    <div class="forecast-current__location">
        London, England
    </div>

    <div class="forecast-current__temperature">
        17&deg;
        <div class="forecast-current__unit">
            <div>C</div>
            <div>F</div>
        </div>
    </div>

    <div class="forecast-current__summary">
        Clear
    </div>

    <div class="forecast-current__details">
        <div>Feels Like 17&deg;</div>
        <div>
            Wind <span><i class="material-icons">near_me</i></span> 6 m/s
        </div>
        <div>Barometer 1021.00 hPa</div>
        <div>Visibility 6 mi</div>
        <div>Humidity 68%</div>
        <div>Dew Point 11&deg;</div>
    </div>
</div>
