<div class="forecast-current">
    <div class="forecast-current__location">
        {{ (location?.city) ? location.city + ',' : '' }}
        {{ (location?.state) ? location.state + ',' : '' }}
        {{ location?.country }}
    </div>

    <div class="forecast-current__temperature">
        {{ currentForecast?.temp - 273.15 | number: '1.0-0' }}&deg;
        <div class="forecast-current__unit">
            <div>C</div>
            <div>F</div>
        </div>
    </div>

    <div class="forecast-current__summary">
        {{ currentForecast?.weather[0].main }}
    </div>

    <div class="forecast-current__details">
        <div>Feels Like {{ currentForecast?.feels_like - 273.15 | number: '1.0-0' }}&deg;</div>
        <!-- <div>
            Wind <span><i [ngStyle]="{'transform': 'rotate(' + (currentForecast?.wind_deg - 46) + 'deg)'}"
                    class="material-icons">near_me</i></span> {{ currentForecast?.wind_speed }} m/s
        </div> -->
        <div>
            Wind <span><i class="material-icons">near_me</i></span> {{ currentForecast?.wind_speed }} m/s
        </div>
        <div>Barometer {{ currentForecast?.pressure }} mbar</div>
        <div>Visibility {{ currentForecast?.visibility }} mi</div>
        <div>Humidity {{ currentForecast?.humidity }}%</div>
        <div>Dew Point 11&deg;</div>
    </div>
</div>
