<div class="forecast-current">
    <div class="forecast-current__location">
        {{ currentForecast?.location.cityName }}, {{ currentForecast?.location.country }}
    </div>

    <div class="forecast-current__temperature">
        {{ currentForecast?.weather.currentTemp - 273.15 | number : '1.0-0' }}&deg;
        <div class="forecast-current__unit">
            <div>C</div>
            <div>F</div>
        </div>
    </div>

    <div class="forecast-current__summary">
        {{ currentForecast?.weather.weatherText }}
    </div>

    <div class="forecast-current__details">
        <div>Feels Like {{ currentForecast?.weather.feelsLikeTemp }}&deg;</div>
        <div>
            Wind <span><i class="material-icons">near_me</i></span> {{ currentForecast?.weather.windSpeed }} m/s
        </div>
        <div>Barometer {{ currentForecast?.weather.pressure }} hPa</div>
        <div>Visibility {{ currentForecast?.weather.visibility }} mi</div>
        <div>Humidity {{ currentForecast?.weather.humidity }}%</div>
        <!-- <div>Dew Point 11&deg;</div> -->
    </div>
</div>
