:host {
  margin: 0 auto;

  .daily-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 125px;
    padding: 20px;
    cursor: pointer;

    div:not(:last-child) {
      margin-bottom: 10px;
    }

    &__icon {
        display: flex;
        justify-content: center;

        object {
            width: 80px;
            fill: #062639;
        }
    }

    .temperature {

      &__high {
        margin-right: 5px;
        font-size: 28px;
      }
    }

    &__summary {
        font-size: 14px;
    }

    //  TODO: Requires paid access for hourly breakdown
    &--is-active {
      background-color: #33364144;
    }
  }

}
