:host {
  margin: 0 auto;
  height: 205px;

  .daily-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 125px;
    padding: 20px;
    cursor: pointer;

    div {
      margin-bottom: 15px;
    }

    .temperature {

      &__high {
        margin-right: 5px;
        font-size: 28px;
      }
    }

    &__summary {
        font-size: 14px;
    }

    //  TODO: Requires paid access for hourly breakdown
    &--is-active {
      background-color: #33364144;

      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        width: 50px;
        height: 50px;
        align-self: center;
        background-color: #33364144;
        clip-path: polygon(50% 100%, 0 50%, 100% 50%);
      }
    }
  }

}
