<div class="forecast-hourly">
    <div class="forecast-hourly__controls">
        <div>Hourly</div>
        <div class="spacer"></div>
        <button mat-button class="btn" (click)="summaryClicked()" [ngClass]="{ 'btn--is-active': showSummary }">
            <mat-icon>show_chart</mat-icon>
            Summary
        </button>
        <button mat-button class="btn" (click)="detailsClicked()"
            [ngClass]="{ 'btn--is-active': !showSummary }">
            <mat-icon>description</mat-icon>
            Details
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="forecast-hourly__summary" *ngIf="showSummary">
        SUMMARY GRAPH THING
    </div>
    <div class="forecast-hourly__details" *ngIf="!showSummary">
        DETAIL CARD THING
    </div>
</div>
