<div class="favourite" (click)="onClick()">
    <div class="info">
        <div class="info__description">
            {{ favourite.weather[0].main }}
        </div>
        <div class="info__temperature">
            {{ favourite.temp | formatTemperature }} <span class="temperature__unit">C</span>
        </div>
        <div>
            {{ favourite.location.city }}
        </div>
    </div>
    <div>
        <img src="assets/images/icons/weather-icons/blue/{{ favourite.weather[0].icon }}.svg"
            alt="{{ favourite.weather[0].main }}"
            type="image/svg+xml">
    </div>
</div>
