:host {
    min-width: 300px;
    margin: 0 20px 20px 0;

    .favourite {
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: lightblue;
        cursor: pointer;

        .info {
            width: 100%;

            div:not(:last-child) {
                margin-bottom: 10px;
            }

            &__description {
                font-size: 22px;
            }

            &__temperature {
                font-size: 36px;
            }
        }

        &:hover {
            background-color: #33364117;
        }
    }
}
