.register-container {
    height: 100%;
    display: flex;

    .register {
        margin: auto;
        max-width: 300px;
        text-align: center;
        font-family: 'Lato', sans-serif;

        .row {
            display: flex;

            .mat-form-field-infix {
                width: 0 !important;
            }

            .spacer {
                width: 10%;
            }
        }

        &__field {
            width: 100%;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 22px;
            font-weight: 400;
        }
    }
}
