<div class="register-container">
    <mat-card class="register">
        <h2>Sign Up</h2>

        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="row">
                <mat-form-field class="register__field">
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error *ngIf="registerForm.controls.firstName.invalid">Please enter a First Name</mat-error>
                </mat-form-field>

                <div class="spacer"></div>

                <mat-form-field class="register__field">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error *ngIf="registerForm.controls.lastName.invalid">Please enter a Last Name</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="register__field">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="registerForm.controls.email.invalid">Please enter an Email Address</mat-error>
            </mat-form-field>

            <mat-form-field class="register__field">
                <input matInput placeholder="Password" [type]="show ? 'text' : 'password'" formControlName="password">
                <mat-icon
                    matSuffix (click)="show = !show"
                    [matTooltip]="show ? 'Hide Password' : 'Show Password'"
                    matTooltipPosition="right">
                    {{show ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf=" registerForm.controls.password.invalid">Please enter a Password</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="register__field" type="submit">
                Sign Up
            </button>
        </form>
    </mat-card>

    <a routerLink="/login">
        Already have an account? Sign In!
    </a>
</div>
