<div class="register-container">
    <mat-card class="register">
        <h2>Sign Up</h2>

        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="row">
                <mat-form-field class="register__field">
                    <input matInput placeholder="Firstname" formControlName="firstname">
                    <mat-error *ngIf="registerForm.controls.firstname.invalid">Please enter a firstname</mat-error>
                </mat-form-field>

                <div class="spacer"></div>

                <mat-form-field class="register__field">
                    <input matInput placeholder="Lastname" formControlName="lastname">
                    <mat-error *ngIf="registerForm.controls.lastname.invalid">Please enter a lastname</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="register__field">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="registerForm.controls.email.invalid">Please enter an email address</mat-error>
            </mat-form-field>

            <mat-form-field class="register__field">
                <input matInput placeholder="Password" [type]="show ? 'text' : 'password'" formControlName="password">
                <mat-icon
                    matSuffix (click)="show = !show"
                    [matTooltip]="show ? 'Hide Password' : 'Show Password'"
                    matTooltipPosition="right">
                    {{show ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf=" registerForm.controls.password.invalid">Please enter a password</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="register__field" type="submit">
                Sign Up
            </button>
        </form>
    </mat-card>

</div>
