.login-container {
    height: 100%;
    display: flex;

    .login {
        margin: auto;
        max-width: 300px;
        text-align: center;
        font-family: 'Lato', sans-serif;

        &__field {
            width: 100%;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 22px;
            font-weight: 400;
        }
    }
}
