<app-navigation-wrapper>
    <div class="forecast">
        <div class="forecast__search">
            <form [formGroup]="forecastForm" (ngSubmit)="onChangeLocation()">
                <mat-form-field>
                    <input type="text"
                        placeholder="Enter a location: (City Name, State, Country)"
                        aria-label="Location"
                        matInput
                        formControlName="location"
                        [matAutocomplete]="autoLocation">
                    <mat-autocomplete #autoLocation="matAutocomplete" (optionSelected)="onChangeLocation()">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>

        <app-forecast-current></app-forecast-current>

        <app-forecast-daily [days]=days></app-forecast-daily>

        <!-- TODO: Requires paid access for hourly breakdown -->
        <!-- <app-forecast-hourly></app-forecast-hourly> -->
    </div>
</app-navigation-wrapper>
