.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    div {
      margin: 5px;
    }

    &__location {
      font-size: 28px;
    }

    &__temperature {
      display: flex;
      align-items: center;
      font-size: 80px;
    }

    &__unit {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
    }

    &_summary {
      font-size: 24px;
    }

    &__details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: 500px;
      text-align: center;

      div {
        display: flex;
        align-items: center;
        margin: 0 10px;

        i {
          font-size: 18px;
        }
      }
    }
  }

  .forecast-daily {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__controls {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &__cards {
      display: flex;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  .forecast-hourly {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    &__controls {
      display: flex;
      align-items: center;
      font-size: 22px;

      .spacer {
        flex-grow: 1;
      }

      .btn {
        margin-left: 5px;
        border-radius: 0px;
        background-color: #33364111;

        &--is-active {
          background-color: #33364144;
        }
      }
    }

    mat-divider {
      margin: 10px 0;
    }
  }
}
