<app-navigation-wrapper>
  <div class="container">
    <div class="top">
      <div class="row location">
        London, England
      </div>

      <div class="row temperature">
        17&deg;
        <div class="unit">
          <div class="row">C</div>
          <div class="row">F</div>
        </div>
      </div>

      <div class="row summary">
        Clear
      </div>

      <div class="row details">
        <div>Feels Like 17&deg;</div>
        <div>Wind <span><i class="material-icons">near_me</i></span> 6 mph</div>
        <div>Barometer 1021.00 mb</div>
        <div>Visibility 6 mi</div>
        <div>Humidity 68%</div>
        <div>Dew Point 11&deg;</div>
      </div>
    </div>

    <div class="middle">
      <app-daily-card></app-daily-card>
    </div>

    <div class="bottom">
      BOTTOM
    </div>
  </div>
</app-navigation-wrapper>
