.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;

  app-forecast-info, app-forecast-daily, app-forecast-hourly {
      width: 100%;
  }
}
