.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    .home-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 35px;
      margin-bottom: 30px;

      .app-logo {
        width: 40px;
        margin: 0 auto;
        display: block;
      }
    }

    .mat-toolbar {
      background: inherit;
    }
  }

  .sidenav-content {

    .sidenav-content-toolbar {
      background: #062639;
      color: #fff;

      .menu-button {
        color: #fff;
        background: #062639;

        &:focus {
          outline: none;
        }
      }

      .navbar-link {
        color: #fff;
        padding-right: 10px;
        cursor: pointer;

        &:hover {
          color: #fff;
        }

        &:focus {
          outline: none;
        }
      }

      .gifts a {
        color: #fff;
        display: inline-block;
        padding-top: 7px;
        padding-right: 20px;
        position: relative;

        .mat-badge-content {
          background: #d3544d;
        }
      }

      .gifts:focus {
        outline: none;
      }
    }

    .filler {
      flex: 1 1 auto;
    }
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  @media screen and (min-width: 768px) {

    /*left sidenav style override*/
    mat-sidenav:not(.mat-drawer-opened) {
      transform: translate3d(0, 0, 0) !important;
      transition: .4s;
      visibility: visible !important;
      width: 60px !important;
      overflow: hidden;

      .navigation-item-label {
        display: none !important;
      }
    }

    mat-sidenav-content:not(.mat-drawer-opened) {
      margin-left: 60px;
    }
  }
}
