<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" opened=false>
    <mat-toolbar>
      <a class="home-button" routerLink="/">
        <img class="app-logo" src="path_to_logo_image" />
      </a>
    </mat-toolbar>
    <app-nav-list></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-content-toolbar" color="primary">
      <button mat-icon-button class="menu-button" type="button" aria-label="Toggle sidenav" (tap)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="filler">
        <!-- TODO: Search bar -->
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
